@model LojaEsporte.Models.Produto

@{
    ViewBag.Title = "Excluir dados de funcionários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/produto.css")
@Styles.Render("~/Content/home.css")
@Styles.Render("~/Content/style.css")
<div class="bg-roxo">
</div>
<div style="
    max-width: 1200px;
    padding: 45px 30px 25px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;">
    <svg style="align-self: center;" width="87" height="77" viewBox="0 0 87 77" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M84.5833 43.3125H72.5V57.75L67.6667 54.5467L62.8333 57.75V43.3125H50.75C49.4208 43.3125 48.3333 44.3953 48.3333 45.7188V74.5938C48.3333 75.9172 49.4208 77 50.75 77H84.5833C85.9125 77 87 75.9172 87 74.5938V45.7188C87 44.3953 85.9125 43.3125 84.5833 43.3125ZM26.5833 33.6875H60.4167C61.7458 33.6875 62.8333 32.6047 62.8333 31.2813V2.40625C62.8333 1.08281 61.7458 0 60.4167 0H48.3333V14.4375L43.5 11.2342L38.6667 14.4375V0H26.5833C25.2542 0 24.1667 1.08281 24.1667 2.40625V31.2813C24.1667 32.6047 25.2542 33.6875 26.5833 33.6875ZM36.25 43.3125H24.1667V57.75L19.3333 54.5467L14.5 57.75V43.3125H2.41667C1.0875 43.3125 0 44.3953 0 45.7188V74.5938C0 75.9172 1.0875 77 2.41667 77H36.25C37.5792 77 38.6667 75.9172 38.6667 74.5938V45.7188C38.6667 44.3953 37.5792 43.3125 36.25 43.3125Z" fill="white" /> </svg>
    <p style="
    font-size: 48px;
    font-weight: 600;
    align-self: center;
    color: white;
    line-height: 1;
    padding-top: 10px;">
        <span style="
        font-size: 24px;
        font-weight: 400;
        display: block;
        ">
            Estoque
        </span>
        Exclusão de dados
    </p>
</div>

<div class="secao">
    <div>
        <p class="paragrafo-secao">Caso queira, pode excluir os dados do produto abaixo. (CUIDADO: Esta ação é permanente.)</p>
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cod_Fornecedor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cod_Fornecedor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descriçao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descriçao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Preço)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Preço)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Unidade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Unidade)
            </dd>

        </dl>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar" class="btn btn-default botao-excluir" /> |
                @Html.ActionLink("Voltar a Lista", "ListaProduto", new { area = "" }, new { @class = "botao-voltar" })
            </div>
        }
    </div>
</div>