@{
    ViewBag.Title = "Menu Inicial - Sistema NOTIME Sports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/home.css");

<div class="bg-brilho">

</div>
<section>
    <h1 data-anime="300" class="fadeInDown titulo-centralizado">Bem-vindo!</h1>
    <p data-anime="600" class="fadeInDown paragrafo-centralizado">Ao sistema de gerenciamento da NOTIME Sports</p>
</section>

<div data-anime="1100" class="fadeInDown card-0">
    <div class="card-1 card-roxo">
        <h4>Cadastro</h4>
        <p class="paragrafo-card">Clique e realize o cadastro um cliente, funcionário, produto ou fornecedor.</p>

        @*<a href="@Url.Action("CadastroCliente", "Cliente")">

                <div class="card-flex">
                    <div>
                        <svg width="48" height="35" viewBox="0 0 48 35" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.4 17.5C19.0425 17.5 22.8 13.5859 22.8 8.75C22.8 3.91406 19.0425 0 14.4 0C9.7575 0 6 3.91406 6 8.75C6 13.5859 9.7575 17.5 14.4 17.5ZM20.16 20H19.5375C17.9775 20.7812 16.245 21.25 14.4 21.25C12.555 21.25 10.83 20.7812 9.2625 20H8.64C3.87 20 0 24.0312 0 29V31.25C0 33.3203 1.6125 35 3.6 35H25.2C27.1875 35 28.8 33.3203 28.8 31.25V29C28.8 24.0312 24.93 20 20.16 20ZM36 17.5C39.975 17.5 43.2 14.1406 43.2 10C43.2 5.85938 39.975 2.5 36 2.5C32.025 2.5 28.8 5.85938 28.8 10C28.8 14.1406 32.025 17.5 36 17.5ZM39.6 20H39.315C38.2725 20.375 37.17 20.625 36 20.625C34.83 20.625 33.7275 20.375 32.685 20H32.4C30.87 20 29.46 20.4609 28.2225 21.2031C30.0525 23.2578 31.2 25.9844 31.2 29V32C31.2 32.1719 31.1625 32.3359 31.155 32.5H44.4C46.3875 32.5 48 30.8203 48 28.75C48 23.9141 44.2425 20 39.6 20Z" fill="#4D26CC" /> </svg>
                    </div>
                    <p>
                        Cadastrar
                        <span>Cliente</span>
                    </p>
                </div>

            </a>*@

        <a href="@Url.Action("CadastroProduto", "Produto",new { id=0})">
            <div class="card-flex">
                <svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M40.8333 20.8125H35V27.75L32.6667 26.2107L30.3333 27.75V20.8125H24.5C23.8583 20.8125 23.3333 21.3328 23.3333 21.9688V35.8438C23.3333 36.4797 23.8583 37 24.5 37H40.8333C41.475 37 42 36.4797 42 35.8438V21.9688C42 21.3328 41.475 20.8125 40.8333 20.8125ZM12.8333 16.1875H29.1667C29.8083 16.1875 30.3333 15.6672 30.3333 15.0313V1.15625C30.3333 0.520313 29.8083 0 29.1667 0H23.3333V6.9375L21 5.39824L18.6667 6.9375V0H12.8333C12.1917 0 11.6667 0.520313 11.6667 1.15625V15.0313C11.6667 15.6672 12.1917 16.1875 12.8333 16.1875ZM17.5 20.8125H11.6667V27.75L9.33333 26.2107L7 27.75V20.8125H1.16667C0.525 20.8125 0 21.3328 0 21.9688V35.8438C0 36.4797 0.525 37 1.16667 37H17.5C18.1417 37 18.6667 36.4797 18.6667 35.8438V21.9688C18.6667 21.3328 18.1417 20.8125 17.5 20.8125Z" fill="#4D26CC" /> </svg>
                <p>
                    Cadastrar
                    <span>Produto</span>
                </p>
            </div>
        </a>

        <a href="@Url.Action("CadastroFornecedor", "Fornecedor")">
            <div class="card-flex">
                <svg width="29" height="38" viewBox="0 0 29 38" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29 8.3125V34.4375C29 36.405 27.3771 38 25.375 38H3.625C1.62294 38 0 36.405 0 34.4375V8.3125C0 6.34496 1.62294 4.75 3.625 4.75H9.66667C9.66667 2.13082 11.8349 0 14.5 0C17.1651 0 19.3333 2.13082 19.3333 4.75H25.375C27.3771 4.75 29 6.34496 29 8.3125ZM14.5 2.96875C13.499 2.96875 12.6875 3.76623 12.6875 4.75C12.6875 5.73377 13.499 6.53125 14.5 6.53125C15.501 6.53125 16.3125 5.73377 16.3125 4.75C16.3125 3.76623 15.501 2.96875 14.5 2.96875ZM21.75 11.4297V9.94531C21.75 9.82721 21.7023 9.71394 21.6173 9.63043C21.5323 9.54692 21.4171 9.5 21.2969 9.5H7.70313C7.58295 9.5 7.4677 9.54692 7.38272 9.63043C7.29774 9.71394 7.25 9.82721 7.25 9.94531V11.4297C7.25 11.5478 7.29774 11.6611 7.38272 11.7446C7.4677 11.8281 7.58295 11.875 7.70313 11.875H21.2969C21.4171 11.875 21.5323 11.8281 21.6173 11.7446C21.7023 11.6611 21.75 11.5478 21.75 11.4297Z" fill="#4D26CC" /> </svg>
                <p>
                    Cadastrar
                    <span>Fornecedor</span>
                </p>
            </div>
        </a>

        <a href="@Url.Action("CadastroFuncionario", "Funcionario")">
            <div class="card-flex">
                <svg width="44" height="35" viewBox="0 0 44 35" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M41.9763 25.5186C42.1551 24.5547 42.1551 23.5703 41.9763 22.6064L43.7502 21.5879C43.9565 21.4717 44.0459 21.2324 43.9771 21.0068C43.5165 19.5303 42.7258 18.1904 41.6944 17.083C41.5363 16.9121 41.2819 16.8711 41.0756 16.9873L39.3016 18.0059C38.5522 17.3701 37.6927 16.8779 36.7645 16.5498V14.5127C36.7645 14.2803 36.5995 14.0752 36.3726 14.0273C34.8393 13.6855 33.2785 13.6992 31.8209 14.0273C31.594 14.0752 31.4289 14.2803 31.4289 14.5127V16.5498C30.5007 16.8779 29.6413 17.3701 28.8918 18.0059L27.1179 16.9873C26.9185 16.8711 26.6572 16.9121 26.499 17.083C25.4677 18.1904 24.677 19.5303 24.2163 21.0068C24.1475 21.2324 24.2438 21.4717 24.4432 21.5879L26.2171 22.6064C26.0384 23.5703 26.0384 24.5547 26.2171 25.5186L24.4432 26.5371C24.2369 26.6533 24.1475 26.8926 24.2163 27.1182C24.677 28.5947 25.4677 29.9277 26.499 31.042C26.6572 31.2129 26.9116 31.2539 27.1179 31.1377L28.8918 30.1191C29.6413 30.7549 30.5007 31.2471 31.4289 31.5752V33.6123C31.4289 33.8447 31.594 34.0498 31.8209 34.0977C33.3541 34.4395 34.9149 34.4258 36.3726 34.0977C36.5995 34.0498 36.7645 33.8447 36.7645 33.6123V31.5752C37.6927 31.2471 38.5522 30.7549 39.3016 30.1191L41.0756 31.1377C41.275 31.2539 41.5363 31.2129 41.6944 31.042C42.7258 29.9346 43.5165 28.5947 43.9771 27.1182C44.0459 26.8926 43.9496 26.6533 43.7502 26.5371L41.9763 25.5186ZM34.1036 27.3779C32.2609 27.3779 30.7689 25.8877 30.7689 24.0625C30.7689 22.2373 32.2678 20.7471 34.1036 20.7471C35.9394 20.7471 37.4383 22.2373 37.4383 24.0625C37.4383 25.8877 35.9463 27.3779 34.1036 27.3779ZM15.4016 17.5C20.2628 17.5 24.2026 13.583 24.2026 8.75C24.2026 3.91699 20.2628 0 15.4016 0C10.5405 0 6.6007 3.91699 6.6007 8.75C6.6007 13.583 10.5405 17.5 15.4016 17.5ZM29.2356 32.9834C29.0774 32.9014 28.9193 32.8057 28.768 32.7168L28.2249 33.0312C27.8123 33.2637 27.3448 33.3936 26.8772 33.3936C26.1278 33.3936 25.4058 33.0791 24.8901 32.5322C23.6319 31.1787 22.6693 29.5312 22.1261 27.7744C21.7479 26.5645 22.2567 25.2861 23.3568 24.6504L23.9 24.3359C23.8931 24.1582 23.8931 23.9805 23.9 23.8027L23.3568 23.4883C22.2567 22.8594 21.7479 21.5742 22.1261 20.3643C22.188 20.166 22.2774 19.9678 22.3461 19.7695C22.0848 19.749 21.8304 19.6875 21.5623 19.6875H20.414C18.8876 20.3848 17.1893 20.7812 15.4016 20.7812C13.6139 20.7812 11.9225 20.3848 10.3892 19.6875H9.24097C4.13919 19.6875 0 23.8027 0 28.875V31.7188C0 33.5303 1.47828 35 3.30035 35H27.5029C28.1974 35 28.8437 34.7812 29.3731 34.4189C29.2906 34.1592 29.2356 33.8926 29.2356 33.6123V32.9834Z" fill="#4D26CC" /> </svg>
                <p>
                    Cadastrar
                    <span>Funcionário</span>
                </p>
            </div>
        </a>
    </div>

    <div class="card-1 card-laranja">
        <h4>Consulta</h4>
        <p class="paragrafo-card">Consulte ou altere dados de um cliente, funcionário, produto ou fornecedor.</p>

        @*<a href="">
                <div class="card-flex">
                    <div>
                        <svg width="48" height="35" viewBox="0 0 48 35" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.4 17.5C19.0425 17.5 22.8 13.5859 22.8 8.75C22.8 3.91406 19.0425 0 14.4 0C9.7575 0 6 3.91406 6 8.75C6 13.5859 9.7575 17.5 14.4 17.5ZM20.16 20H19.5375C17.9775 20.7812 16.245 21.25 14.4 21.25C12.555 21.25 10.83 20.7812 9.2625 20H8.64C3.87 20 0 24.0312 0 29V31.25C0 33.3203 1.6125 35 3.6 35H25.2C27.1875 35 28.8 33.3203 28.8 31.25V29C28.8 24.0312 24.93 20 20.16 20ZM36 17.5C39.975 17.5 43.2 14.1406 43.2 10C43.2 5.85938 39.975 2.5 36 2.5C32.025 2.5 28.8 5.85938 28.8 10C28.8 14.1406 32.025 17.5 36 17.5ZM39.6 20H39.315C38.2725 20.375 37.17 20.625 36 20.625C34.83 20.625 33.7275 20.375 32.685 20H32.4C30.87 20 29.46 20.4609 28.2225 21.2031C30.0525 23.2578 31.2 25.9844 31.2 29V32C31.2 32.1719 31.1625 32.3359 31.155 32.5H44.4C46.3875 32.5 48 30.8203 48 28.75C48 23.9141 44.2425 20 39.6 20Z" fill="" /> </svg>
                    </div>
                    <p>
                        Consultar
                        <span>Cliente</span>
                    </p>
                </div>
            </a>*@

        <a href="@Url.Action("ListaProduto", "Produto")">
            <div class="card-flex card-flex-laranja">
                <svg width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M40.8333 20.8125H35V27.75L32.6667 26.2107L30.3333 27.75V20.8125H24.5C23.8583 20.8125 23.3333 21.3328 23.3333 21.9688V35.8438C23.3333 36.4797 23.8583 37 24.5 37H40.8333C41.475 37 42 36.4797 42 35.8438V21.9688C42 21.3328 41.475 20.8125 40.8333 20.8125ZM12.8333 16.1875H29.1667C29.8083 16.1875 30.3333 15.6672 30.3333 15.0313V1.15625C30.3333 0.520313 29.8083 0 29.1667 0H23.3333V6.9375L21 5.39824L18.6667 6.9375V0H12.8333C12.1917 0 11.6667 0.520313 11.6667 1.15625V15.0313C11.6667 15.6672 12.1917 16.1875 12.8333 16.1875ZM17.5 20.8125H11.6667V27.75L9.33333 26.2107L7 27.75V20.8125H1.16667C0.525 20.8125 0 21.3328 0 21.9688V35.8438C0 36.4797 0.525 37 1.16667 37H17.5C18.1417 37 18.6667 36.4797 18.6667 35.8438V21.9688C18.6667 21.3328 18.1417 20.8125 17.5 20.8125Z" fill="" /> </svg>
                <p>
                    Consultar
                    <span>Estoque</span>
                </p>
            </div>
        </a>

        <a href="@Url.Action("ListaFornecedor", "Fornecedor")">
            <div class="card-flex card-flex-laranja">
                <svg width="29" height="38" viewBox="0 0 29 38" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M29 8.3125V34.4375C29 36.405 27.3771 38 25.375 38H3.625C1.62294 38 0 36.405 0 34.4375V8.3125C0 6.34496 1.62294 4.75 3.625 4.75H9.66667C9.66667 2.13082 11.8349 0 14.5 0C17.1651 0 19.3333 2.13082 19.3333 4.75H25.375C27.3771 4.75 29 6.34496 29 8.3125ZM14.5 2.96875C13.499 2.96875 12.6875 3.76623 12.6875 4.75C12.6875 5.73377 13.499 6.53125 14.5 6.53125C15.501 6.53125 16.3125 5.73377 16.3125 4.75C16.3125 3.76623 15.501 2.96875 14.5 2.96875ZM21.75 11.4297V9.94531C21.75 9.82721 21.7023 9.71394 21.6173 9.63043C21.5323 9.54692 21.4171 9.5 21.2969 9.5H7.70313C7.58295 9.5 7.4677 9.54692 7.38272 9.63043C7.29774 9.71394 7.25 9.82721 7.25 9.94531V11.4297C7.25 11.5478 7.29774 11.6611 7.38272 11.7446C7.4677 11.8281 7.58295 11.875 7.70313 11.875H21.2969C21.4171 11.875 21.5323 11.8281 21.6173 11.7446C21.7023 11.6611 21.75 11.5478 21.75 11.4297Z" fill="" /> </svg>
                <p>
                    Consultar
                    <span>Fornecedor</span>
                </p>
            </div>
        </a>

        <a href="@Url.Action("ListaFuncionario", "Funcionario")">
            <div class="card-flex card-flex-laranja">
                <svg width="44" height="35" viewBox="0 0 44 35" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M41.9763 25.5186C42.1551 24.5547 42.1551 23.5703 41.9763 22.6064L43.7502 21.5879C43.9565 21.4717 44.0459 21.2324 43.9771 21.0068C43.5165 19.5303 42.7258 18.1904 41.6944 17.083C41.5363 16.9121 41.2819 16.8711 41.0756 16.9873L39.3016 18.0059C38.5522 17.3701 37.6927 16.8779 36.7645 16.5498V14.5127C36.7645 14.2803 36.5995 14.0752 36.3726 14.0273C34.8393 13.6855 33.2785 13.6992 31.8209 14.0273C31.594 14.0752 31.4289 14.2803 31.4289 14.5127V16.5498C30.5007 16.8779 29.6413 17.3701 28.8918 18.0059L27.1179 16.9873C26.9185 16.8711 26.6572 16.9121 26.499 17.083C25.4677 18.1904 24.677 19.5303 24.2163 21.0068C24.1475 21.2324 24.2438 21.4717 24.4432 21.5879L26.2171 22.6064C26.0384 23.5703 26.0384 24.5547 26.2171 25.5186L24.4432 26.5371C24.2369 26.6533 24.1475 26.8926 24.2163 27.1182C24.677 28.5947 25.4677 29.9277 26.499 31.042C26.6572 31.2129 26.9116 31.2539 27.1179 31.1377L28.8918 30.1191C29.6413 30.7549 30.5007 31.2471 31.4289 31.5752V33.6123C31.4289 33.8447 31.594 34.0498 31.8209 34.0977C33.3541 34.4395 34.9149 34.4258 36.3726 34.0977C36.5995 34.0498 36.7645 33.8447 36.7645 33.6123V31.5752C37.6927 31.2471 38.5522 30.7549 39.3016 30.1191L41.0756 31.1377C41.275 31.2539 41.5363 31.2129 41.6944 31.042C42.7258 29.9346 43.5165 28.5947 43.9771 27.1182C44.0459 26.8926 43.9496 26.6533 43.7502 26.5371L41.9763 25.5186ZM34.1036 27.3779C32.2609 27.3779 30.7689 25.8877 30.7689 24.0625C30.7689 22.2373 32.2678 20.7471 34.1036 20.7471C35.9394 20.7471 37.4383 22.2373 37.4383 24.0625C37.4383 25.8877 35.9463 27.3779 34.1036 27.3779ZM15.4016 17.5C20.2628 17.5 24.2026 13.583 24.2026 8.75C24.2026 3.91699 20.2628 0 15.4016 0C10.5405 0 6.6007 3.91699 6.6007 8.75C6.6007 13.583 10.5405 17.5 15.4016 17.5ZM29.2356 32.9834C29.0774 32.9014 28.9193 32.8057 28.768 32.7168L28.2249 33.0312C27.8123 33.2637 27.3448 33.3936 26.8772 33.3936C26.1278 33.3936 25.4058 33.0791 24.8901 32.5322C23.6319 31.1787 22.6693 29.5312 22.1261 27.7744C21.7479 26.5645 22.2567 25.2861 23.3568 24.6504L23.9 24.3359C23.8931 24.1582 23.8931 23.9805 23.9 23.8027L23.3568 23.4883C22.2567 22.8594 21.7479 21.5742 22.1261 20.3643C22.188 20.166 22.2774 19.9678 22.3461 19.7695C22.0848 19.749 21.8304 19.6875 21.5623 19.6875H20.414C18.8876 20.3848 17.1893 20.7812 15.4016 20.7812C13.6139 20.7812 11.9225 20.3848 10.3892 19.6875H9.24097C4.13919 19.6875 0 23.8027 0 28.875V31.7188C0 33.5303 1.47828 35 3.30035 35H27.5029C28.1974 35 28.8437 34.7812 29.3731 34.4189C29.2906 34.1592 29.2356 33.8926 29.2356 33.6123V32.9834Z" fill="" /> </svg>
                <p>
                    Consultar
                    <span>Funcionário</span>
                </p>
            </div>
        </a>
    </div>

    <div class="card-1 card-vermelho">
        <h4>Venda</h4>
        <p class="paragrafo-card">Realize uma venda ou consulte o histórico de vendas.</p>

        @*<a href="">
                <div class="card-flex">
                    <div>
                        <svg width="48" height="35" viewBox="0 0 48 35" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.4 17.5C19.0425 17.5 22.8 13.5859 22.8 8.75C22.8 3.91406 19.0425 0 14.4 0C9.7575 0 6 3.91406 6 8.75C6 13.5859 9.7575 17.5 14.4 17.5ZM20.16 20H19.5375C17.9775 20.7812 16.245 21.25 14.4 21.25C12.555 21.25 10.83 20.7812 9.2625 20H8.64C3.87 20 0 24.0312 0 29V31.25C0 33.3203 1.6125 35 3.6 35H25.2C27.1875 35 28.8 33.3203 28.8 31.25V29C28.8 24.0312 24.93 20 20.16 20ZM36 17.5C39.975 17.5 43.2 14.1406 43.2 10C43.2 5.85938 39.975 2.5 36 2.5C32.025 2.5 28.8 5.85938 28.8 10C28.8 14.1406 32.025 17.5 36 17.5ZM39.6 20H39.315C38.2725 20.375 37.17 20.625 36 20.625C34.83 20.625 33.7275 20.375 32.685 20H32.4C30.87 20 29.46 20.4609 28.2225 21.2031C30.0525 23.2578 31.2 25.9844 31.2 29V32C31.2 32.1719 31.1625 32.3359 31.155 32.5H44.4C46.3875 32.5 48 30.8203 48 28.75C48 23.9141 44.2425 20 39.6 20Z" fill="" /> </svg>
                    </div>
                    <p>
                        Consultar
                        <span>Cliente</span>
                    </p>
                </div>
            </a>*@

        <a href="@Url.Action("CadastroVenda", "Venda", new { id = 0, idProduto = 0, idFornecedor = 0, idNome = 0, idPreço = 0, idQuantidade = 0 }, null)">
            <div class="card-flex card-flex-laranja">
                <svg width="41" height="36" viewBox="0 0 41 36" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M35.926 22.5H15.0598L15.5257 24.75H34.6318C35.7281 24.75 36.5406 25.7555 36.2977 26.8115L35.905 28.5184C37.2354 29.1563 38.1528 30.5035 38.1528 32.0625C38.1528 34.2564 36.3363 36.0312 34.108 35.9996C31.9852 35.9694 30.2394 34.2677 30.1821 32.1713C30.1507 31.0261 30.6152 29.9881 31.3781 29.2499H16.4552C17.1939 29.9647 17.6528 30.9604 17.6528 32.0625C17.6528 34.2993 15.7645 36.1006 13.4766 35.9956C11.4451 35.9025 9.79295 34.2811 9.68618 32.2749C9.60375 30.7256 10.429 29.3601 11.6829 28.6478L6.68265 4.5H1.70833C0.764835 4.5 0 3.74449 0 2.8125V1.6875C0 0.755508 0.764835 0 1.70833 0H9.00641C9.81794 0 10.5174 0.563977 10.6801 1.3493L11.3325 4.5H39.291C40.3872 4.5 41.1997 5.50554 40.9568 6.56149L37.5919 21.1865C37.4151 21.9548 36.7237 22.5 35.926 22.5ZM28.6878 13.5H25.625V9.28125C25.625 8.81529 25.2426 8.4375 24.7708 8.4375H23.0625C22.5908 8.4375 22.2083 8.81529 22.2083 9.28125V13.5H19.1455C18.3845 13.5 18.0034 14.4089 18.5415 14.9403L23.3127 19.6533C23.6463 19.9828 24.1871 19.9828 24.5207 19.6533L29.2919 14.9403C29.8299 14.4089 29.4488 13.5 28.6878 13.5Z" fill="" /> </svg>
                <p>
                    Realizar
                    <span>Venda</span>
                </p>
            </div>
        </a>

        <a href="@Url.Action("ListaProduto", "Produto")">
            <div class="card-flex card-flex-laranja">
                <svg width="32" height="37" viewBox="0 0 32 37" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M31.1429 11.5625H0.857143C0.383786 11.5625 0 11.1742 0 10.6953V8.09375C0 6.17799 1.535 4.625 3.42857 4.625H6.85714V0.867188C6.85714 0.388283 7.24093 0 7.71429 0H10.5714C11.0448 0 11.4286 0.388283 11.4286 0.867188V4.625H20.5714V0.867188C20.5714 0.388283 20.9552 0 21.4286 0H24.2857C24.7591 0 25.1429 0.388283 25.1429 0.867188V4.625H28.5714C30.465 4.625 32 6.17799 32 8.09375V10.6953C32 11.1742 31.6162 11.5625 31.1429 11.5625ZM0.857143 13.875H31.1429C31.6162 13.875 32 14.2633 32 14.7422V33.5312C32 35.447 30.465 37 28.5714 37H3.42857C1.535 37 0 35.447 0 33.5312V14.7422C0 14.2633 0.383786 13.875 0.857143 13.875ZM24.664 20.8087L22.6519 18.7565C22.3186 18.4165 21.7759 18.4142 21.4398 18.7516L13.8657 26.3527L10.5814 23.0031C10.2481 22.6631 9.70529 22.6608 9.36922 22.9982L7.34086 25.0339C7.00479 25.3712 7.00257 25.9202 7.336 26.2602L13.2361 32.2777C13.5694 32.6177 14.1121 32.62 14.4482 32.2826L24.6591 22.035C24.9952 21.6978 24.9974 21.1487 24.664 20.8087V20.8087Z" fill="" /> </svg>
                <p>
                    Consultar
                    <span>Histórico</span>
                </p>
            </div>
        </a>


    </div>
</div>