<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Esportes</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/notime/base.css">
    <link rel="stylesheet" href="~/notime/style.css">
    
</head>
<body>
    @Styles.Render("~/Content/animacao.css")
    <!-- <h1>Photo Galery</h1> -->
    <div class="bg-info">
        <div class="info"><p>Horário de funcionamento das 08:00 às 18:00.</p></div>
    </div>
    <header>
        <nav class="navbar">
            <!-- LOGO -->

            <a class="logo" href="@Url.Action("Index", "Home")">
                <svg width="134" height="54" viewBox="0 0 134 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.3086 33H17.1738L8.10352 17.0742V33H1.93359V7.40625H8.10352L17.1562 23.332V7.40625H23.3086V33ZM48.8848 20.7305C48.8848 23.2266 48.4219 25.4355 47.4961 27.3574C46.5703 29.2793 45.252 30.7617 43.541 31.8047C41.8418 32.8359 39.9023 33.3516 37.7227 33.3516C35.543 33.3516 33.6094 32.8535 31.9219 31.8574C30.2344 30.8496 28.916 29.4141 27.9668 27.5508C27.0293 25.6875 26.5371 23.5488 26.4902 21.1348V19.6934C26.4902 17.1855 26.9473 14.9766 27.8613 13.0664C28.7871 11.1445 30.1055 9.66211 31.8164 8.61914C33.5391 7.57617 35.4961 7.05469 37.6875 7.05469C39.8555 7.05469 41.7891 7.57031 43.4883 8.60156C45.1875 9.63281 46.5059 11.1035 47.4434 13.0137C48.3926 14.9121 48.873 17.0918 48.8848 19.5527V20.7305ZM42.6094 19.6582C42.6094 17.1152 42.1816 15.1875 41.3262 13.875C40.4824 12.5508 39.2695 11.8887 37.6875 11.8887C34.5938 11.8887 32.959 14.209 32.7832 18.8496L32.7656 20.7305C32.7656 23.2383 33.1816 25.166 34.0137 26.5137C34.8457 27.8613 36.082 28.5352 37.7227 28.5352C39.2812 28.5352 40.4824 27.873 41.3262 26.5488C42.1699 25.2246 42.5977 23.3203 42.6094 20.8359V19.6582ZM70.6465 12.1699H62.9648V33H56.7949V12.1699H49.2539V7.40625H70.6465V12.1699ZM79.8398 33H73.6875V7.40625H79.8398V33ZM92.2324 7.40625L97.9453 25.2129L103.641 7.40625H111.762V33H105.574V27.0234L106.172 14.7891L99.9844 33H95.9062L89.7012 14.7715L90.2988 27.0234V33H84.1289V7.40625H92.2324ZM131.572 22.1543H121.869V28.2539H133.33V33H115.699V7.40625H133.365V12.1699H121.869V17.5664H131.572V22.1543Z" fill="white" />
                    <path d="M40.5674 46.5986C40.5674 46.1475 40.4062 45.7959 40.084 45.5439C39.7676 45.292 39.208 45.0312 38.4053 44.7617C37.6025 44.4922 36.9463 44.2314 36.4365 43.9795C34.7783 43.165 33.9492 42.0459 33.9492 40.6221C33.9492 39.9131 34.1543 39.2891 34.5645 38.75C34.9805 38.2051 35.5664 37.7832 36.3223 37.4844C37.0781 37.1797 37.9277 37.0273 38.8711 37.0273C39.791 37.0273 40.6143 37.1914 41.3408 37.5195C42.0732 37.8477 42.6416 38.3164 43.0459 38.9258C43.4502 39.5293 43.6523 40.2207 43.6523 41H40.5762C40.5762 40.4785 40.415 40.0742 40.0928 39.7871C39.7764 39.5 39.3457 39.3564 38.8008 39.3564C38.25 39.3564 37.8135 39.4795 37.4912 39.7256C37.1748 39.9658 37.0166 40.2734 37.0166 40.6484C37.0166 40.9766 37.1924 41.2754 37.5439 41.5449C37.8955 41.8086 38.5137 42.084 39.3984 42.3711C40.2832 42.6523 41.0098 42.957 41.5781 43.2852C42.9609 44.082 43.6523 45.1807 43.6523 46.5811C43.6523 47.7002 43.2305 48.5791 42.3867 49.2178C41.543 49.8564 40.3857 50.1758 38.915 50.1758C37.8779 50.1758 36.9375 49.9912 36.0938 49.6221C35.2559 49.2471 34.623 48.7373 34.1953 48.0928C33.7734 47.4424 33.5625 46.6953 33.5625 45.8516H36.6562C36.6562 46.5371 36.832 47.0439 37.1836 47.3721C37.541 47.6943 38.1182 47.8555 38.915 47.8555C39.4248 47.8555 39.8262 47.7471 40.1191 47.5303C40.418 47.3076 40.5674 46.9971 40.5674 46.5986ZM48.3193 45.6582V50H45.2344V37.2031H50.3408C51.3193 37.2031 52.1836 37.3848 52.9336 37.748C53.6895 38.1055 54.2725 38.6182 54.6826 39.2861C55.0986 39.9482 55.3066 40.7012 55.3066 41.5449C55.3066 42.793 54.8584 43.792 53.9619 44.542C53.0713 45.2861 51.8467 45.6582 50.2881 45.6582H48.3193ZM48.3193 43.2764H50.3408C50.9385 43.2764 51.3926 43.127 51.7031 42.8281C52.0195 42.5293 52.1777 42.1074 52.1777 41.5625C52.1777 40.9648 52.0166 40.4873 51.6943 40.1299C51.3721 39.7725 50.9326 39.5908 50.376 39.585H48.3193V43.2764ZM67.7959 43.8652C67.7959 45.1133 67.5645 46.2178 67.1016 47.1787C66.6387 48.1396 65.9795 48.8809 65.124 49.4023C64.2744 49.918 63.3047 50.1758 62.2148 50.1758C61.125 50.1758 60.1582 49.9268 59.3145 49.4287C58.4707 48.9248 57.8115 48.207 57.3369 47.2754C56.8682 46.3438 56.6221 45.2744 56.5986 44.0674V43.3467C56.5986 42.0928 56.8271 40.9883 57.2842 40.0332C57.7471 39.0723 58.4062 38.3311 59.2617 37.8096C60.123 37.2881 61.1016 37.0273 62.1973 37.0273C63.2812 37.0273 64.248 37.2852 65.0977 37.8008C65.9473 38.3164 66.6064 39.0518 67.0752 40.0068C67.5498 40.9561 67.79 42.0459 67.7959 43.2764V43.8652ZM64.6582 43.3291C64.6582 42.0576 64.4443 41.0938 64.0166 40.4375C63.5947 39.7754 62.9883 39.4443 62.1973 39.4443C60.6504 39.4443 59.833 40.6045 59.7451 42.9248L59.7363 43.8652C59.7363 45.1191 59.9443 46.083 60.3604 46.7568C60.7764 47.4307 61.3945 47.7676 62.2148 47.7676C62.9941 47.7676 63.5947 47.4365 64.0166 46.7744C64.4385 46.1123 64.6523 45.1602 64.6582 43.918V43.3291ZM74.1416 45.4824H72.4717V50H69.3867V37.2031H74.4229C75.9404 37.2031 77.127 37.54 77.9824 38.2139C78.8379 38.8877 79.2656 39.8398 79.2656 41.0703C79.2656 41.9609 79.084 42.6992 78.7207 43.2852C78.3633 43.8711 77.8008 44.3457 77.0332 44.709L79.7051 49.8682V50H76.4004L74.1416 45.4824ZM72.4717 43.1006H74.4229C75.0088 43.1006 75.4482 42.9482 75.7412 42.6436C76.04 42.333 76.1895 41.9023 76.1895 41.3516C76.1895 40.8008 76.04 40.3701 75.7412 40.0596C75.4424 39.7432 75.0029 39.585 74.4229 39.585H72.4717V43.1006ZM90.7354 39.585H86.8945V50H83.8096V39.585H80.0391V37.2031H90.7354V39.585ZM98.5049 46.5986C98.5049 46.1475 98.3438 45.7959 98.0215 45.5439C97.7051 45.292 97.1455 45.0312 96.3428 44.7617C95.54 44.4922 94.8838 44.2314 94.374 43.9795C92.7158 43.165 91.8867 42.0459 91.8867 40.6221C91.8867 39.9131 92.0918 39.2891 92.502 38.75C92.918 38.2051 93.5039 37.7832 94.2598 37.4844C95.0156 37.1797 95.8652 37.0273 96.8086 37.0273C97.7285 37.0273 98.5518 37.1914 99.2783 37.5195C100.011 37.8477 100.579 38.3164 100.983 38.9258C101.388 39.5293 101.59 40.2207 101.59 41H98.5137C98.5137 40.4785 98.3525 40.0742 98.0303 39.7871C97.7139 39.5 97.2832 39.3564 96.7383 39.3564C96.1875 39.3564 95.751 39.4795 95.4287 39.7256C95.1123 39.9658 94.9541 40.2734 94.9541 40.6484C94.9541 40.9766 95.1299 41.2754 95.4814 41.5449C95.833 41.8086 96.4512 42.084 97.3359 42.3711C98.2207 42.6523 98.9473 42.957 99.5156 43.2852C100.898 44.082 101.59 45.1807 101.59 46.5811C101.59 47.7002 101.168 48.5791 100.324 49.2178C99.4805 49.8564 98.3232 50.1758 96.8525 50.1758C95.8154 50.1758 94.875 49.9912 94.0312 49.6221C93.1934 49.2471 92.5605 48.7373 92.1328 48.0928C91.7109 47.4424 91.5 46.6953 91.5 45.8516H94.5938C94.5938 46.5371 94.7695 47.0439 95.1211 47.3721C95.4785 47.6943 96.0557 47.8555 96.8525 47.8555C97.3623 47.8555 97.7637 47.7471 98.0566 47.5303C98.3555 47.3076 98.5049 46.9971 98.5049 46.5986Z" fill="white" />
                    <rect x="2" y="43" width="24" height="4" fill="white" />
                    <rect x="109" y="43" width="24" height="4" fill="white" />
                </svg>
            </a>

            <div class="barra-pesquisa">
                <input type="search" name="" id="input" class="form-control" value="" required="required" title="">
            </div>

            <div class="navbar-menu">
                <!-- USUÁRIO -->
                <a class="navbar-items" href="@Url.Action("Index", "Home")">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17.5" cy="17.5" r="16.45" stroke="white" stroke-width="2.1" /><path d="M17.5 17.5C20.3722 17.5 22.7 15.1498 22.7 12.25C22.7 9.3502 20.3722 7 17.5 7C14.6278 7 12.3 9.3502 12.3 12.25C12.3 15.1498 14.6278 17.5 17.5 17.5ZM21.14 18.8125H20.4616C19.5597 19.2309 18.5563 19.4688 17.5 19.4688C16.4438 19.4688 15.4444 19.2309 14.5385 18.8125H13.86C10.8456 18.8125 8.40002 21.2816 8.40002 24.325V26.0312C8.40002 27.1182 9.27346 28 10.35 28H24.65C25.7266 28 26.6 27.1182 26.6 26.0312V24.325C26.6 21.2816 24.1544 18.8125 21.14 18.8125Z" fill="white" /></svg>
                    <p>Entrar no sistema</p>
                </a>
                <!-- CARRINHO -->
                <a class="navbar-items" href="#">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart" class="svg-inline--fa fa-shopping-cart fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path>
                    </svg>
                </a>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Desenvolvido pela <a style="color: white; text-decoration: solid underline" href="@Url.Action("devmind","Devermind")">Devermind It Solutions</a> - Alguns direitos reservados.</p>
    </footer>

    <script src="~/js/simple-anime.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
